# this is an example of the Uber API
# as a demonstration of an API spec in YAML
swagger: '2.0'
info:
  title: Allwissend Microservices API
  description: Move your app forward with the Uber API
  version: "1.0.0"

# the domain of the service

host: backend.application.dev

# array of all schemes that your API supports
schemes:
  - http
  - https

# will be prefixed to all paths
basePath: /v1

produces:
  - application/json

parameters:
  practitionerUuid:
    in: path
    name: practitionerUuid
    description: Unique identifier representing a specific practitioner that needs to be fetched
    required: true
    type: string
    format: uuid

paths:
  /practitioner:
    get:
      summary: Practitioners Types
      description: |
        The endpoint returns a list of *Practitioners*.
      tags:
        - Practitioners
      operationId: getPractitioner
      produces:
        - application/json
      responses:
        200:
          description: An array of Practitioner
          schema:
            type: array
            items:
              $ref: '#/definitions/Practitioner'
        401:
          description: Unauthorized
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbiden
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Resources Not Found
          schema:
            $ref: '#/definitions/Error'
        504:
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: Practitioners Types
      description: |
        The endpoint returns a list of *Practitioners*.
      tags:
        - Practitioners
      operationId: savePractitioner
      produces:
        - application/json
      responses:
        200:
          description: An array of Practitioner
          schema:
            type: array
            items:
              $ref: '#/definitions/Practitioner'
        401:
          description: Unauthorized
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbiden
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Resources Not Found
          schema:
            $ref: '#/definitions/Error'
        504:
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'

    put:
      summary: Practitioners Types
      description: |
        The endpoint returns a list of *Practitioners*.
      tags:
        - Practitioners
      operationId: updatePractitioner
      produces:
        - application/json
      responses:
        200:
          description: An array of Practitioner
          schema:
            type: array
            items:
              $ref: '#/definitions/Practitioner'
        401:
          description: Unauthorized
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbiden
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Resources Not Found
          schema:
            $ref: '#/definitions/Error'
        504:
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'

  /practitioner/{practitionerUuid}:
    get:
      summary: Practitioner Type
      description: |
        The endpoint returns one *Practitioner* by your uuid.
      tags:
        - Practitioners
      operationId: getPractitionerByUuid
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/practitionerUuid'
      responses:
        200:
          description: An Practitioner
          schema:
            $ref: '#/definitions/Practitioner'
        401:
          description: Unauthorized
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbiden
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Resources Not Found
          schema:
            $ref: '#/definitions/Error'
        504:
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'

    delete:
      summary: Practitioner Type
      description: |
        The endpoint returns one *Practitioner* by your uuid.
      tags:
        - Practitioners
      operationId: deletePractitionerByUuid
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/practitionerUuid'
      responses:
        202:
          description: Accepted
        401:
          description: Unauthorized
          schema:
            $ref: '#/definitions/Error'
        403:
          description: Forbiden
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Resources Not Found
          schema:
            $ref: '#/definitions/Error'
        504:
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'

definitions:
  Practitioner:
    type: object
    properties:
      uuid:
        type: string
        format: uuid
        description: Unique identifier representing a specific practitioner.
      active:
        type: boolean
        description: To do
      name:
        $ref: '#/definitions/Name'
      gender:
        type: string
      birthDate:
        type: string
        format: datetime
      address:
        type: array
        minItems: 1
        items:
          $ref: '#/definitions/Address'
      qualification:
        type: array
        minItems: 1
        items:
          $ref: '#/definitions/Qualification'
      telecom:
        type: array
        minItems: 1
        items:
          $ref: '#/definitions/Telecom'
      photo:
        type: array
        minItems: 1
        items:
          $ref: '#/definitions/Attachment'
      creation:
        type: string
        format: datetime
        description: Date practitioner was first created
      lastUpdated:
        type: string
        format: datetime
        description: Date practitioner was last updated

  Attachment:
    type: object
    properties:
      uuid:
        type: string
        format: uuid
        description: Unique identifier
      extension:
        type: string
        description: Additional Content defined by implementations
      contentType:
        type: string
        description: Mime type of the content, with charset etc.
      language:
        type: string
        description: Human language of the content (BCP-47)
      data:
        type: string
        format: base64Binary
        description: Data inline, base64ed
      url:
        type: string
        description: Uri where the data can be found
      size:
        type: integer
        format: int32
        minimum: 0
        description: Number of bytes of content (if url provided)
      hash:
        type: string
        format: base64Binary
        description: Hash of the data (sha-1, base64ed)
      title:
        type: string
        description: Label to display in place of the data
      creation:
        type: string
        format: datetime
        description: Date attachment was first created
      lastUpdated:
        type: string
        format: datetime
        description: Date attachment was last updated

  Telecom:
    type: object
    properties:
      uuid:
        type: string
        format: uuid
        description: Unique identifier
      system:
        type: string
      value:
        type: string
      use:
        type: string
      creation:
        type: string
        format: datetime
        description: Date telecom was first created
      lastUpdated:
        type: string
        format: datetime
        description: Date telecom was last updated


  Name:
    type: object
    properties:
      uuid:
        type: string
        format: uuid
        description: Unique identifier
      alias:
        type: string
      first:
        type: string
      family:
        type: string
      given:
        type: array
        items:
          type: string
      prefix:
        type: array
        items:
          type: string
      suffix:
        type: array
        items:
          type: string
      creation:
        type: string
        format: datetime
        description: Date name was first created
      lastUpdated:
        type: string
        format: datetime
        description: Date name was last updated

  Address:
    type: object
    properties:
      uuid:
        type: string
        format: uuid
        description: Unique identifier
      use:
        type: string
      line:
        type: array
        items:
          type: string
      city:
        type: string
      state:
        type: string
      country:
        type: string
      postalCode:
        type: string
      creation:
        type: string
        format: datetime
        description: Date address was first created
      lastUpdated:
        type: string
        format: datetime
        description: Date address was last updated

  Qualification:
    type: object
    properties:
      uuid:
        type: string
        format: uuid
        description: Unique identifier
      code:
        type: string
      text:
        type: string
      period:
        type: object
        properties:
          start:
            type: string
          end:
            type: string
      issuer:
        type: string
      creation:
        type: string
        format: datetime
        description: Date qualification was first created
      lastUpdated:
        type: string
        format: datetime
        description: Date qualification was last updated

  Error:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      fields:
        type: string
