# timecard
# a card used to record an employee's starting and quitting times, usually stamped by a time clock.
swagger: '2.0'
info:
  title: Allwissend Microservices API
  description: Allwissend Auth API
  version: "1.0.0"

# the domain of the service

host: auth.application.dev

# array of all schemes that your API supports
schemes:
  - http
  - https

security:
  - internalApiKey: []

# will be prefixed to all paths
basePath: /v1

produces:
  - application/json

parameters:
  shiftUuid:
    in: path
    name: shiftUuid
    description: Unique identifier representing a specific **Shift** that needs to be fetched
    required: true
    type: string
    format: uuid

  practitionerUuid:
    in: path
    name: practitionerUuid
    description: Unique identifier representing a specific practitioner that needs to be fetched
    required: true
    type: string
    format: uuid

paths:
  timecard/shift:
    get:
      summary: List all **Shift** stored at database
      tags:
        TimecardQuery
      operationId: listShiftByUuid
      produces:
        - application/json

    post:
      summary: Save a new **Shift**
      tags:
        TimecardCommand
      operationId: createShift
      x-operationEvent: NEW_SHIFT_CREATED
      parameters:
        - in: body
          name: body
          description: Shift to be created
          required: true
          schema:
            $ref: "#/definitions/Shift"

  timecard/shift/{shiftUuid}:
    get:
      summary: List only the specific **Shift** stored at database using their uuid
      tags:
        TimecardQuery
      operationId: findShiftByUuid
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/shiftUuid'

    put:
      summary: Update a **Shift**
      tags:
        TimecardCommand
      operationId: updateShiftByUuid
      x-operationEvent: SHIFT_UPDATED
      produces:
        - application/json
      parameters:
        - $ref: '#/definitions/shiftUuid'
        - in: body
          name: body
          description: Shift to be updated
          required: true
          schema:
            $ref: "#/definitions/Shift"

    delete:
      summary: Dlete a **Shift** from database
      tags:
        TimecardCommand
      operationId: deleteShiftByUuid
      x-operationEvent: SHIFT_DELETED
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/shiftUuid'


timecard/starting/{practitionerUuid}
timecard/quitting/{practitionerUuid}
timecard/times/{practitionerUuid}
timecard/record/{practitionerUuid}
timecard/
timecard/
timecard/

tasks/
goals/
activities/

WorkBreakdownStructure
  WorkItem [name, start, finish, actual_start, actual_finish, percent_completed]
    Steps [name, status, weigth]
    Resources [name, status]


! appointment/task/{id}/
? appointment/goal/{id}/
! appointment/task/{id}/activities/

ShiftWeekday s,t,q,q,s,s,d|*
ShiftType (m|t|n) | (d|n) | d +  s/f
Shift = ShiftWeekday + ShiftType
ShiftCard
Timecard


7abe4d68-5a8d-4a47-bfa1-c39d3632955e
269ea881-cfaf-489d-9d03-0c03e2127aba
3785bed5-7de4-4fa8-b464-185bf2f862ef
30b2750e-81f7-460d-9cc1-9f6e7f27c2a2
9f11334d-d8d3-4de5-b335-64358a8d7f7d
3a239c40-48f4-405a-83ce-7b73b1b65874
717f5a19-648f-4670-a9e3-592cb6d8d0c6
eee22bcd-b0b6-4055-8a39-2bdc85b23355
24a481be-41a1-470a-8875-b97f65a28f01
90ffbad7-c7ae-424f-9a1e-708e252d4f0c

a1h5oVdVfUawQfdW2DEZ1g==
xqpjGKrMZUyKwvmVJcgKvA==
G/TZO7Kb4kqkGDLrDh+t8w==
QghYdA+5lEqrXv2Fi0kCHQ==
3P0zDF1HhESXMPcxPmZ65w==
3J9hMWhBKEGiOWBUER9qXg==
EAS02M0uc02DNua95mwl/Q==
iBJ7+uaxqEWQyXPqDDSngA==
rKrfgYCWsE2Tr7H8YY2mXA==
HEQXEPCb1UGiyZXcyTBgMw==
